  /* Sidebar  */
  #u-sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #055748;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .u-sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-bottom: 30px;
    
  }
  
  .u-sidebar-title > span {
    display: none;
  }
  
  .u-sidebar-brand {
    margin-top: 0px;
    font-size: 23px;
    font-weight: 700;
    font-color: black;
    background-color: #5ff7c4;
    width:260px;
    height:60px;
    padding: 15px 0px 0px 30px;
  }
  
  .u-sidebar-list {
    padding: 0;
    list-style-type: none;
  }
  
  .u-sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    color: white;
  }
  
  .u-sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .u-sidebar-list-item > a {
    text-decoration: none;
    color: #f2f2fc;
  }

  .u-sidebar-list-item a:hover {
    color:#ffcc00; 
    text-decoration:none; 
    cursor:pointer;  
}
  
  .pm-sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }


  .pm2-icon {
    color: #bd9609; /* Change to your desired color */
  }
  
  /* End Sidebar  */