.relatedproducts{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    height:auto;
}

.relatedproducts h2{
    color:#171717;
    font-size:50px;
    font-weight:600;
}

.relatedproducts hr{
    width:200px;
    height:6px;
    border-radius:10px;
    background:#252525;
}

.relatedproducts-item{
    display: grid;
    margin:5% 2% 5% 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    row-gap: 20px;
}