.login form {
    background-color: #ead9cd; 
    display: block;
    width: 350px;
    height: auto;
    border: white solid 2px;
    padding: 6px;
    border-radius: 10px;
    
  }
  
  .login body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color:#cfe3e4;
    background-position: center;
    background-position:center;
   
    
  }
  .login-forgotpwd{
    color: blue;
  }
  .login-register{
    color: blue;
  }
  
  .login-btn{
    width: 50%; /* Make input fields stretch to fill their container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #aa6639;
  
  }
  
  .login-btn:hover {
    background-color: #954007; /* Change the background color on hover */
  }
  
  
  
  .login-input-box1,
  .login-input-box2 {
    margin-bottom: 20px;
  }
  
  .login-input-box1 input,
  .login-input-box2 input {
    width: 80%; /* Make input fields stretch to fill their container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-input-box1 i,
  .login-input-box2 i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }