.reset form {
    background-color: #ead9cd; 
    display: block;
    width: 350px;
    height: auto;
    border: white solid 2px;
    padding: 6px;
    border-radius: 10px;
  }
  
  .reset {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color:#cfe3e4;
    background-position: center;
    background: url(img3.jpg);
    background-position:center;
   
    
  }
  .reset-forgotpwd{
    color: blue;
  }
  .reset-register{
    color: blue;
  }
  
  .reset-btn{
    width: 50%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #aa6639;
  
  }
  
  .reset-btn:hover {
    background-color: #954007; 
  }
  
  
  
  .reset-input-box1,
  .reset-input-box2,
  .reset-input-box3,
  .reset-input-box4 {
    margin-bottom: 20px;
  }
  
  .reset-input-box1 input,
  .reset-input-box2 input,
  .reset-input-box3 input,
  .reset-input-box4 input {
    width: 80%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .reset-input-box1 i,
  .reset-input-box2 i,
  .reset-input-box3 i,
  .reset-input-box4 i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }